@media only screen and (min-width: 38rem) {

  .card {
   
   grid-template-areas: 
        "photograph name"
        "photograph description"
        "photograph location"
        "photograph more";

    }

    .card img {
        width: 300px;
        height: 200px;
        transition: transform 0.3s ease;
    }

    .card img:hover {
        transform: scale(1.05);
    }

    .card p,
    .card address {
        text-align: left;
        margin: 1rem;
    }

    
}