:root {
    --color1: #260c1f;
    --color2: #733262; 
    --color3: #BF3A0A;
    --color4: #f28c0f;
    --color5: #fafaf0;
    --heading-font: "Caveat Brush", cursive;
    --main-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  background: url("../images/pattern.webp") repeat;
  background-size: 200px 200px;
}

header {
  background-color: var(--color2) ;
  color: var(--color5);
  text-align: center;
  padding: 1rem;
}

header h1 {
  font-family: var(--heading-font);
}


header img {
  max-width: 150px;
  height: auto;
  margin-top: 0.5rem;
}

main {
 background-color: var(--color5);
 width: 95%;
 margin: 1rem auto;
 padding: 1rem;
 border-radius: 12px;
 box-shadow: 0 4px 12px rgba(0,0,0,0.35);
}

/* twist */

.modal-content {
  animation: pop 0.5s ease;
}

@keyframes pop {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Animación del libro girando */
.book-spin {
  width: 100px;
  height: 140px;
  margin: 20px auto;
  background: url('../images/book-icon.png') no-repeat center/cover;
  animation: spinBook 2s linear infinite;
}

@keyframes spinBook {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}



footer {
  background-color: var(--color3);
  color: var(--color5);
  text-align: center;
  padding: 1rem;
}

.footer-content p {
  margin: 0.3rem 0;
}

footer a:visited {
  color: var(--color5); /* púrpura clásico para enlaces visitados */
}

footer a:focus {
  color: #ff6600; /* naranja contrastante */
  text-decoration: none; /* opcional: quitar subrayado al pasar el mouse */
}